body {
    padding: 30px;
    background-color: #f7f7f7;
    font-family: monospace;
    font-size: 10pt;
    line-height: 14pt;
}

#figure {
    display: block;
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    border: 1px solid #f0f0f0;
}

#figure .progress-bar {
    position: absolute;
    z-index: 10;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #6d95d6;
    text-align: center;
    line-height: 300px;
}

#figure > img {
    width: 100%;
    height: auto;
}

#figure > figcaption {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 20px 15px;
    left: 0;
    bottom: 0;
}
